<div class="console card" id="main-console">
  <div class="card-header">가맹관리 마이맵</div>

  <div class="card-body" id="console-content">
    <h2 class="hover-the-rainbow" onclick="addLocation('MARKER')">마커 등록하기</h2>
    <h2><a href="javascript:openMymapList('1')">마이맵 리스트</a></h2>
    <hr />
    <h4
      class="hover-the-rainbow"
      onclick="moveCurruntPos()"
    >
      👉 현위치로 이동하기
    </h4>
<!--  임시 주석처리
    <h4>👉 학군정보 보기</h4>
    <ul>
        <li onclick="srchByCate('AC5')" class="hover-the-rainbow">학원</li>
        <li onclick="srchByCate('SC4')" class="hover-the-rainbow">고등학교</li>
    </ul>
-->
  </div>
</div>
